<div class="container">
	<div class="row">
		<div class= "col-m-12 text-center">
			<img src="../../assets/burger.png" alt="burger">
			<h1>EatDaBurger!</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-m-12">
			burger data to populate here from handlebars
			{{#each allBurgers}}
			<ol>
				<li>{{this.id}}</li>
				<li>{{this.burnerName}}</li>
				<li>{{this.devoured}}</li>
			</ol>
			{{/each}}
		</div>
	</div>
	<div class="row">
		<div class= "col-m-12 text-center">
			<form action="/burgers/new" method="POST">
				<div class="form-group">
					<input type="text" class="form-control" id="newBurger">
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
	</div>
</div>
