

/*#e5c3c6	(229,195,198) pink
#e1e9b7	(225,233,183) green
#f96161	(249,97,97) red
#bcd2d0	(188,210,208)blue
#d0b783	(208,183,131) tan*/

body {
	background-color: #bcd2d0;
	align-content: center;
	font-family: 'Ruda', sans-serif;
}

.devoured, .nondevoured {
	background-color: #e1e9b7;
	border-radius: 6px;
	border: solid grey 1px;
	height: 200px;
	overflow: auto;
}

img {
	max-width: 300px;
}
h1{
	font-family: 'Permanent Marker', cursive;
}

li{
	padding: 10px;
}
#newBurger{
	margin-top: 20px;
}